*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.academy-site {
	--main-clr: #00a651;
	--accent-clr: #0079c0;
	--accent-clr-dark: #015485;
	--body-link-clr: #0079c0;
	--linear-gradient: linear-gradient(90deg, var(--main-clr), var(--accent-clr));
	--img-body: url("img/academy-favicon.svg");
	--logo: url("img/academy-logo.svg");
}
.jobs-site {
	--main-clr: #fdd705;
	--accent-clr: #f0411d;
	--accent-clr-dark: #b12306;
	--body-link-clr: #0079c0;
	--linear-gradient: linear-gradient(90deg, var(--main-clr), var(--accent-clr));
	--img-body: url("img/jobs-favicon.svg");
	--logo: url("img/jobs-logo.svg");
}
.ielts-site {
	--main-clr: #e21d38;
	--accent-clr: #e21d38;
	--accent-clr-dark: #8f0618;
	--body-link-clr: #0079c0;
	--linear-gradient: linear-gradient(90deg, var(--main-clr), var(--accent-clr));
	--img-body: url("img/ielts-favicon.svg");
	--logo: url("img/ielts-logo.svg");
}
.migration-site {
	--main-clr: #bba2cd;
	--accent-clr: #7160aa;
	--accent-clr-dark: #443672;
	--body-link-clr: #0079c0;
	--linear-gradient: linear-gradient(90deg, var(--main-clr), var(--accent-clr));
	--img-body: url("img/migration-favicon.svg");
	--logo: url("img/migration-logo.svg");
}
.arabic-site {
	--main-clr: #417ec1;
	--accent-clr: #417ec1;
	--accent-clr-dark: #1e4875;
	--body-link-clr: #0079c0;
	--linear-gradient: linear-gradient(90deg, var(--main-clr), var(--accent-clr));
	--img-body: url("img/arabic-favicon.svg");
	--logo: url("img/arabic-logo.svg");
}
::selection {
	/* background-color: #1a87c6; */
	background-color: var(--accent-clr);
	color: white;
}

:root {
	--clr-link: #444;
	--bg-header: rgb(255 255 255 / 1);
	--bg-footer: #222;
	--border-radius: 25px;
	--box-shadow: 0px 2px 4px rgb(0 0 0 /0.2);
	--border-light: 1px solid rgb(0 0 0 /0.1);
	--border-dark: 1px solid rgb(255 255 255 /0.2);
	--clr-text: #333;
}

.btn {
	display: inline-block;
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 5rem;
	position: relative;
	color: white;
	border: none;
	background: var(--accent-clr);
	box-shadow: 0px 4px 0px var(--accent-clr-dark);
	/* font-size: 1rem; */
	text-decoration: none;
	text-align: center;
	line-height: 1.5;
	transition: all 0.1s ease-in-out;
	overflow: hidden;
}
.btn:hover::after,
.btn:focus::after {
	content: "";
	background: rgb(255 255 255 /0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.btn.btn-search {
	box-shadow: none;
}
.btn:active {
	box-shadow: none;
	box-shadow: inset 2px 2px 10px rgb(0 0 0 /0.4);
	top: 4px;
}
.btn.btn-search:active {
	top: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	/* background: #f1f1f1; */
	background: var(--img-body) repeat;
	background-size: 30px;
	color: var(--clr-text);
}
body::after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgb(255 255 255 / 0.95);
	position: absolute;
	z-index: -2;
}

p {
	line-height: 1.5;
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding-left: 20px;
}

h1 {
	font-size: 36px;
	line-height: 40px;
}

h2 {
	font-size: 30px;
	line-height: 40px;
}

h3 {
	font-size: 24px;
	line-height: 40px;
}

h4 {
	font-size: 18px;
	line-height: 20px;
}

h5 {
	font-size: 14px;
	line-height: 20px;
}

h6 {
	font-size: 12px;
	line-height: 20px;
}

a {
	text-decoration: none;
	color: var(--body-link-clr);
	position: relative;
}

a::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: #0074d9;
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
section a,
footer a {
	font-weight: bold;
}
@media (hover: hover) and (pointer: fine) {
	section a:not(.headingLink, .btn):hover::before,
	footer a:not(.headingLink, .btn):hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}
a:not(.btn):hover,
a:not(.btn):focus,
a:not(.btn):active {
	text-decoration: none;
	color: var(--clr-link);
}
.footer a:hover,
.footer a:focus {
	color: white;
}
.headingLink {
	color: var(--clr-text);
	scroll-snap-align: start;
	scroll-margin-top: 100px;
}
.headingLink:hover::before {
	color: var(--accent-clr);
	content: "\f0c1";
	font-family: "Font Awesome 5 Free";
	font-size: 1rem;
	top: 0%;
	left: -1.2em;
	position: absolute;
	transform: translateY(-50%);
}
blockquote {
	padding: 40px;
	/* padding-left: 90px; */
	margin: 30px;
	position: relative;
	border-right: 5px solid var(--accent-clr);
	background: rgb(0 0 0 /0.03);
}
blockquote::before {
	content: "\201C";
	font-size: 200px;
	height: 82px;
	line-height: 0.78;
	line-height: 1;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: center;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.2s ease-in-out;
	z-index: 1;
	font-family: sans-serif, serif;
	color: var(--accent-clr);
	opacity: 0.9;
}
blockquote:hover::before {
	transform: translateX(-50%) translateY(-25%);
}

.sr-only {
	display: none;
}

.header {
	background: var(--bg-header);
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 20px 40px 10px;
	border-bottom: var(--border-light);
	z-index: 100;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 100%;
	background: var(--linear-gradient);
}
.header::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 5px;
	width: 100%;
	background: var(--linear-gradient);
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
}

.siteLink .mainLogo {
	height: 50px;
	width: 147px;
	display: block;
	background: var(--logo) no-repeat;
}

.alternateLogo {
	display: none;
}

.moreLinks__button {
	background: transparent;
	border: none;
	cursor: pointer;
	position: relative;
}

.moreLinks {
	pointer-events: none;
	opacity: 0;
	list-style: none;
	position: absolute;
	width: 170px;
	bottom: 100%;
	right: 50%;
	transform: translateY(110%) translateX(50%);
	background: white;
	border: 1px solid var(--accent-clr);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow), 0px -1px 2px rgb(0 0 0 /0.1);
	z-index: 999;
	transition: all 0.2s ease-in-out;
}
.moreLinks::after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	width: 20px;
	height: 20px;
	background: white;
	border: 1px solid var(--accent-clr);
	border-right-color: transparent;
	border-bottom-color: transparent;
}
.moreLinks li {
	padding: 5px 15px;
}
.moreLinks li:first-child {
	margin-top: 10px;
}
.moreLinks li:last-child {
	margin-bottom: 10px;
}
.moreLinks__link {
	text-decoration: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--clr-link);
}
.moreLinks li:hover,
.moreLinks li:focus {
	background: rgb(0 0 0 / 0.05);
}
.moreLinks__link:hover .moreLinks__favicon,
.moreLinks__link:focus .moreLinks__favicon {
	filter: contrast();
}

.moreLinks__favicon {
	height: 25px;
	margin-right: 10px;
	filter: contrast(0);
	transition: all 0.1s ease-in-out;
}

.moreLinks__button:focus-within > .moreLinks {
	opacity: 1;
	bottom: 0px;
	pointer-events: all;
}

.mainSearch {
	display: flex;
	width: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid var(--accent-clr);
	border-radius: 50px;
	padding: 3px;
	position: relative;
	transition: width 0.3s cubic-bezier(0, 0, 0.24, 1.3);
	overflow: hidden;
}

.mainSearch__input {
	border: var(--border-light);
	opacity: 0;
	flex-grow: 1;
	font-size: 1rem;
	padding: 0 0.5rem;
	border: 0;
	background: transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.mainSearch__input:focus {
	outline: 0;
}
.mainSearch__button {
	border-radius: 50%;
	border: 0;
	font-size: 1rem;
	line-height: 1rem;
	padding: 0;
	width: 40px;
	height: 40px;
	margin-left: auto;
	color: var(--accent-clr);
	background-color: transparent;
}
.mainSearch:focus-within {
	width: 300px;
}
.mainSearch:focus-within .mainSearch__input {
	position: relative;
	opacity: 1;
}
.mainSearch:focus-within .mainSearch__button {
	background: linear-gradient(var(--main-clr), var(--accent-clr));
	color: white;
}
.mainNav {
	display: flex;
	align-items: center;
	gap: 1rem;
	transition: all 0.2s ease-in-out;
}
.mainNav.show {
	opacity: 1;
	transform: translateY(0);
	pointer-events: initial;
}
.menuIcon {
	display: none;
	position: absolute;
	top: 35px;
	right: 35px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 20px;
	height: 20px;
	overflow: hidden;
	z-index: 500;
}

.menuIcon .bar {
	background: var(--accent-clr);
	border-radius: var(--border-radius);
	width: 100%;
	height: 2px;
	transition: all 0.2s ease-in-out;
}
.nav.secondaryMenu {
	gap: 0.25rem;
}
.menuIcon.open .bar {
	width: 125%;
}
.menuIcon.open .bar:nth-child(1) {
	transform: rotate(45deg);
	position: absolute;
	top: 45%;
}
.menuIcon.open .bar:nth-child(2) {
	transform: translateX(100%);
	transition-timing-function: cubic-bezier(0.34, -0.93, 1, -0.2);
	transition-delay: 0.1s;
}
.menuIcon.open .bar:nth-child(3) {
	transform: rotate(-405deg);
	position: absolute;
	top: 45%;
	transition-timing-function: cubic-bezier(0.87, 0.74, 0, 1.76);
	transition-delay: 0.2s;
	transition-duration: 0.6s;
}
.nav {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 0.25rem;
}

.nav__links {
	text-decoration: none;
	font-size: 1rem;
	color: var(--clr-link);
	padding: 10px 15px;
}
.container {
	width: 100%;
}
.hero {
	background: var(--accent-clr-dark);
	min-height: calc(100vh - 80px);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}
.hero *:not(.hero__bg) {
	z-index: 1;
}
.hero::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: linear-gradient(
		to bottom,
		hsla(5, 15%, 5%, 0) 0%,
		hsla(5, 15%, 5%, 0.013) 8.1%,
		hsla(5, 15%, 5%, 0.049) 15.5%,
		hsla(5, 15%, 5%, 0.104) 22.5%,
		hsla(5, 15%, 5%, 0.175) 29%,
		hsla(5, 15%, 5%, 0.259) 35.3%,
		hsla(5, 15%, 5%, 0.352) 41.2%,
		hsla(5, 15%, 5%, 0.45) 47.1%,
		hsla(5, 15%, 5%, 0.55) 52.9%,
		hsla(5, 15%, 5%, 0.648) 58.8%,
		hsla(5, 15%, 5%, 0.741) 64.7%,
		hsla(5, 15%, 5%, 0.825) 71%,
		hsla(5, 15%, 5%, 0.896) 77.5%,
		hsla(5, 15%, 5%, 0.951) 84.5%,
		hsla(5, 15%, 5%, 0.987) 91.9%,
		hsl(5, 15%, 5%) 100%
	);
}
.hero__title {
	font-size: max(3vw, 3.4rem);
	line-height: 0.9;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
		1px 4px 1px #919191, 1px 5px 1px #919191, 1px 8px 6px rgb(16 16 16 / 0.4),
		1px 9px 6px rgb(16 16 16 / 0.3), 1px 10px 6px rgb(16 16 16 / 0.2),
		1px 11px 6px rgb(16 16 16 / 0.1);
}
.hero__bg {
	width: 100%;
	height: 100%;
	opacity: 0.4;
	position: absolute;
	object-fit: cover;
	pointer-events: none;
}
.hero__bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 80px;
	background: transparent;
	border-top: var(--border-dark);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.asterisk {
	width: min(1080px, 100%);
	margin-block-start: 20px;
	margin-inline: auto;
	padding: 20px 40px;
	background: white;
	/* border-radius: var(--border-radius); */
	border-right: 5px solid var(--accent-clr);
	border-left: 5px solid var(--main-clr);
	box-shadow: var(--box-shadow);
	min-height: 100%;
	position: relative;
}
.asterisk::before {
	content: "*";
	text-align: center;
	line-height: 425px;
	font-size: 500px;
	color: white;
	-webkit-text-stroke: 2px var(--accent-clr);
	text-stroke: 2px var(--accent-clr);
	width: 175px;
	height: 175px;
	position: absolute;
	top: -40px;
	left: -110px;
	transform-origin: center;
	transition: all 0.5s ease;
	/* animation: rotates 5s linear infinite; */
	z-index: -1;
}
.asterisk img {
	object-fit: contain;
}
.footer {
	width: 100vw;
	min-height: 100vh;
	background: var(--bg-footer);
	color: white;
	padding: 10px 40px;
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: flex-end;
}

@media screen and (max-width: 1080px) {
	.menuIcon {
		display: flex;
	}
	.mainNav,
	.nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.mainNav {
		position: absolute;
		background-color: white;
		opacity: 0;
		transform: translateY(100%);
		pointer-events: none;
		top: 0;
		right: 0;
		width: 100vw;
		min-height: 100vh;
		z-index: 2;
	}
	.mainNav::before {
		content: var(--img-body);
		z-index: 1;
		width: 50px;
		height: 50px;
	}
	.mainSearch {
		width: 300px;
	}
	.mainSearch__input {
		opacity: 1;
	}
	.asterisk {
		border-width: 10px;
		border-radius: 0;
		padding: 20px;
	}
	.asterisk::before {
		z-index: 1;
		top: -80px;
		right: 0;
		left: auto;
		transform: translateY(-50%);
		font-size: 300px;
		width: 100px;
		height: 100px;
		color: white;
		-webkit-text-stroke: 2px var(--accent-clr);
		text-stroke: 2px var(--accent-clr);
	}
	blockquote {
		padding: 20px;
	}
	blockquote::before {
		font-size: 100px;
		line-height: 1.5;
	}
	.footer {
		flex-direction: column;
	}
}
@media screen and (max-width: 35em) {
	/* .mainSearch {
		display: none;
	} */
}

@keyframes rotates {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
